<div
    class="p-5 | w-screen h-screen | flex justify-content-center align-items-center"
>
    <div>
        <h2>Este es el login</h2>
        <div class="grid">
            <div class="col">
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Usuario</mat-label>
                    <input matInput />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput />
                </mat-form-field>
            </div>
            <div class="col-12">
                <button class="w-full" mat-flat-button color="accent"  routerLink="/dashboard/pokemons">
                    Ingresar
                </button>
            </div>
        </div>
    </div>
</div>
