div {
    width: 100%;
    box-sizing: border-box;
    background: rgb(1, 129, 134);

    /* :host {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    } */
}
