<mat-chip-list>
    <mat-chip
        ><mat-icon>timelapse</mat-icon>
        <pre></pre>
        {{ alertTimeOut | convertNumberToTime }}</mat-chip
    >
</mat-chip-list>

<div class="alertLoginOut" [ngClass]="{ show: hasFinisCount }">
    <div class="dialog">
        <div class="dialog-header">
            <h3 class="text-center">¿Aun quieres continuar en el sitio?</h3>
        </div>
        <div class="dialog-body">
            <span>Tiempo restante para cerrar la sesión</span>
            <mat-progress-bar
                mode="determinate"
                [value]="alertTimeOut"
                class="mt-5"
            ></mat-progress-bar>
            {{ alertTimeOut }}
        </div>
        <div
            class="dialog-footer | flex justify-content-between align-items-center"
        >
            <button mat-flat-button color="primary" (click)="resetCountDown()">
                Continuar
            </button>
            <button mat-flat-button color="accent" (click)="closeSession()">
                Salir
            </button>
        </div>
    </div>
</div>
